@import "~bootstrap/scss/bootstrap"; 
.col-sm-12[_ngcontent-tyr-c11]{
    flex: none !important;
}



#chronometre{
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    padding: 10px;

    width: 200px;

    border: 2px solid black;
    border-radius: 10px;
}

.bloc-btn{
    display: flex;
    width: 400px;
    margin-right: auto;
    margin-left: auto;
}

.button-green{
    padding: 5px;
    width: 100px;

    border: 2px grey solid;
    border-radius: 5px;
    background-color: green;
    color: #fff;
}
.button-red{
    padding: 5px;
    width: 100px;

    border: 2px grey solid;
    border-radius: 5px;
    background-color: red;
    color: #fff;
}
.button-grey{
    padding: 5px;
    width: 100px;

    border: 2px grey solid;
    border-radius: 5px;
    background-color: grey;
    color: #fff;
}