<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body class="text-center">
  <div class="container">
    <div class="row">

      <div class="col-sm-12">
        <img class="img-fluid" src="https://www.chronometre-en-ligne.com/images/logo-chronometre-en-ligne.png" alt="site-logo">
      </div>

      <div class="col-sm-12">
        <div id="chronometre">00 : 00 : 00.000</div>
      </div>

      <div class="col-sm-12">
        <div class="button-green">Démarrer</div>
      </div>
    </div>
  </div>
</body>
</html>